<h3> Bookings for <%%= @<%=bookable_views_name.singularize%>.name %></h3>
<table class="bookings_table">
  <tr>
    <th>Start</th>
    <th>End</th>
  </tr>
  
  <%% @bookings.each do |booking| %>
  <tr>
    <td>
      <%%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <%%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td><%%= link_to "Delete", <%=bookable_views_name.singularize%>_booking_path(@<%=bookable_views_name.singularize%>, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
    </td>
    <td><%%= link_to "Edit", edit_<%=bookable_views_name.singularize%>_booking_path(@<%=bookable_views_name.singularize%>, booking) %>
    </td>
  </tr>
  <%% end %>
</table>